QslBureaus/QslBureaus.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
//  
//  QslBureaus.xsd
//  
//  Author:
//       Jim <jimorcheson@gmail.com>
// 
//  Copyright (c) 2009-2011 VA3HJ Software
//  Copyright (c) 2013 Jim Orcheson 
// 
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
// 
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
// 
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see <http://www.gnu.org/licenses/>.    
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QslBureaus">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="QslBureau">
          <xs:complexType>
            <xs:attribute name="Bureau" type="xs:string" use="required" />
            <xs:attribute name="Regex" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required" />
      <xs:attribute name="CreationDate" type="xs:date" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>